@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: #125d;
}

.contain{
    position: relative;
    display: flex;
    background: #fff;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 25px;

}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons img{
    
    width: 200px;
    height: 200px;
    margin-top: 50px;

}

.bottom{
    display: flex;
    margin: 30px;
    justify-content: space-between;

}

.bottom span{
    margin: 30px;
}

.tempcontain{
    font-size: 50px;
    font-weight: 600;
}

span{
    margin-left: 10px;
}

.etat{
    font-size: 30px;
}

.ville{
    font-size: 60px;
}

i{
    font-size: 50px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}



input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 20px;
    

}

button {
    width: 100px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #3e8e41;
}
